{
  "env": {
    "build": {
      "presets": ["flow", ["env", {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }]],
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": ["flow", "@ava/stage-4", "env"]
    }
  }
}
